<a href="https://colab.research.google.com/github/pjw1016/colab_phython/blob/main/python_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<파이썬 프로그래밍 기초(2)>**

**리스트**

In [1]:
members = ['윤하원','손형민','오수성','박지원','조재홍',
           '이재권','이상욱','강호현','정송희','서민지',
           '이랑','백지윤','류효주','이재현','김종현',
           '이대현','이효재','두소진','이득규','김재헌',
           '김준영','김영경']

In [2]:
print((2025+4+29)%22)
print(members[(2025+4+29)%len(members)])  # 날짜를 멤버의 수로 나눈 나머지에 해당하는 값을 리스트의 인덱스로 채택(랜덤 뽑기 느낌)

12
류효주

- 인덱스 하나만 지정하면 ‘값’으로 출력됨

In [3]:
members[(2025+4+29)%len(members):(2025+4+29)%len(members)+1]

['류효주']

- 인덱스를 범위로 지정하면 리스트로 출력됨

In [4]:
members[(2025+4+29)%len(members):(2025+4+29)%len(members)+2]

['류효주', '이재현']

- 2개를 출력하고 싶으면 [n:n+2]를 해야 리스트 형태로 값 2개 출력함

In [5]:
# check가 1이면 이름 출력(1)
check = [1,0,1,1,0,
         1,0,0,0,1,
         1,1,0,0,1,
         1,1,1,1,0,
         0,1]

In [6]:
idx = 0

for name in members:
  if check[idx] == 1:  # check 리스트의 값이 1인 경우 조건문 실행
    print(f'안녕하세요~ 제 이름은 {name}입니다!')  # f스트링을 활용하여 이름 출력
  idx += 1  # 인덱스를 1씩 증가시키면서 mebers에 있는 이름을 차례로 조회함

안녕하세요~ 제 이름은 윤하원입니다!
안녕하세요~ 제 이름은 오수성입니다!
안녕하세요~ 제 이름은 박지원입니다!
안녕하세요~ 제 이름은 이재권입니다!
안녕하세요~ 제 이름은 서민지입니다!
안녕하세요~ 제 이름은 이랑입니다!
안녕하세요~ 제 이름은 백지윤입니다!
안녕하세요~ 제 이름은 김종현입니다!
안녕하세요~ 제 이름은 이대현입니다!
안녕하세요~ 제 이름은 이효재입니다!
안녕하세요~ 제 이름은 두소진입니다!
안녕하세요~ 제 이름은 이득규입니다!
안녕하세요~ 제 이름은 김영경입니다!

In [7]:
# check가 1이면 이름 출력(2): enumerate()함수 활용
for idx, name in enumerate(members):  # enumerate(mebers): members 리스트의 인덱스(idx)와 값(name)을 동시에 받음
#  print(idx, name)
  if check[idx] == 1:
    print(f'안녕하세요~ 제 이름은 {name}입니다!')

안녕하세요~ 제 이름은 윤하원입니다!
안녕하세요~ 제 이름은 오수성입니다!
안녕하세요~ 제 이름은 박지원입니다!
안녕하세요~ 제 이름은 이재권입니다!
안녕하세요~ 제 이름은 서민지입니다!
안녕하세요~ 제 이름은 이랑입니다!
안녕하세요~ 제 이름은 백지윤입니다!
안녕하세요~ 제 이름은 김종현입니다!
안녕하세요~ 제 이름은 이대현입니다!
안녕하세요~ 제 이름은 이효재입니다!
안녕하세요~ 제 이름은 두소진입니다!
안녕하세요~ 제 이름은 이득규입니다!
안녕하세요~ 제 이름은 김영경입니다!

- enumerate(a): 1개의 리스트에서 해당 데이터의 인덱스와 값을 출력

In [8]:
# check가 1이면 이름 출력(3): check()함수 활용
for name, chk in zip(members, check):  # zip(members, check): members와 check의 0번째 인덱스 값을 동시에 받음
#  print(name, chk)
  if chk == 1:
    print(f'안녕하세요~ 제 이름은 {name}입니다!')

안녕하세요~ 제 이름은 윤하원입니다!
안녕하세요~ 제 이름은 오수성입니다!
안녕하세요~ 제 이름은 박지원입니다!
안녕하세요~ 제 이름은 이재권입니다!
안녕하세요~ 제 이름은 서민지입니다!
안녕하세요~ 제 이름은 이랑입니다!
안녕하세요~ 제 이름은 백지윤입니다!
안녕하세요~ 제 이름은 김종현입니다!
안녕하세요~ 제 이름은 이대현입니다!
안녕하세요~ 제 이름은 이효재입니다!
안녕하세요~ 제 이름은 두소진입니다!
안녕하세요~ 제 이름은 이득규입니다!
안녕하세요~ 제 이름은 김영경입니다!

- zip(a, b): 2개의 리스트에서 같은 인덱스에 해당하는 값을 쌍으로 출력

In [9]:
# check가 1인 사람들의 이름만 리스트로 출력
chk_names = []  # 빈 리스트를 만듦

for name, chk in zip(members, check):  # zip함수를 활용하여 2개의 리스트로부터 값을 쌍으로 순차 조회
  if chk == 1:
    chk_names.append(name)  # check의 값이 1이라면 빈 리스트에 이름을 append

print(chk_names)

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '두소진', '이득규', '김영경']

**함수**

In [10]:
# check가 1인 사람을 출력하는 함수 만들기(1): c가 1인 사람 출력
def find_checked_names(names, checks):  # def문을 통해 함수이름과 매개변수를 지정
  retNames = []  # return할 이름을 담을 빈 리스트 변수 선언

  for n, c in zip(names, checks):  # zip함수를 통해 두 리스트의 값을 쌍으로 n, c에 할당
    if c == 1:
      retNames.append(n)  # c가 1일 경우 retNames 리스트에 이름을 append
  return retNames  # retNames 리스트 반환

In [11]:
ret = find_checked_names(members, check)  # ret 변수에 위에서 선언한 함수의 반환값을 저장
print(ret)  # 함수 반환값 출력

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '두소진', '이득규', '김영경']

In [12]:
# check가 1인 사람을 출력하는 함수 만들기(2): c가 num인 사람 출력(좀 더 소프트 코딩을 함)
def find_checked_names(names, checks, num):  # num 매개변수를 3번째로 추가
  retNames = []

  for n, c in zip(names, checks):
    if c == num:  # c가 함수의 3번째 매개변수인 num과 비교하여 1일 경우 조건문 실행
      retNames.append(n)
  return retNames

In [13]:
ret = find_checked_names(members, check, 0) # c가 0인 사람 출력
print(ret)

['손형민', '조재홍', '이상욱', '강호현', '정송희', '류효주', '이재현', '김재헌', '김준영']

In [14]:
# check가 1인 사람을 출력하는 함수 만들기(3): c가 num인 사람 출력(단, num의 디폴트값은 1로 지정)
def find_checked_names(names, checks, num=1):
  retNames = []

  for n, c in zip(names, checks):
    if c == num:
      retNames.append(n)
  return retNames

In [15]:
ret = find_checked_names(members, check) # c가 1인 사람 출력(num 파라미터를 생략하면 1로 인식)
print(ret)

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '두소진', '이득규', '김영경']

In [16]:
# x^2+y^2= Z^2인 x, y, z를 한 묶음의 리스트로 출력
a = []  # [x, y, z]를 담을 빈 리스트 선언

for x in range(1, 30):
  for y in range(1, 30):
    for z in range(1, 30):
      if x**2 + y**2 == z**2:
        a.append([x, y, z])  # 문제 조건을 만족한 경우 빈 리스트에 append

print(a)

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 5, 13], [12, 9, 15], [12, 16, 20], [15, 8, 17], [15, 20, 25], [16, 12, 20], [20, 15, 25], [20, 21, 29], [21, 20, 29], [24, 7, 25], [24, 10, 26]]

In [17]:
# x^2+y^2= Z^2인 x, y, z를 한 묶음의 리스트로 출력(중첩 제외)
a = []

for x in range(1, 30):
  for y in range(x, 30):  # x부터 29까지
    for z in range(y, 30):  # y부터 29까지
      if x**2 + y**2 == z**2:
        a.append([x, y, z])

print(a)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 16, 20], [15, 20, 25], [20, 21, 29]]

In [18]:
# 위의 문제를 간략하게 풀이하는 법(중첩 제외)
a = [[x,y,z] for x in range(1, 30) for y in range(x, 30) for z in range(y, 30) if (x*x + y*y == z*z)]
print(a)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 16, 20], [15, 20, 25], [20, 21, 29]]

- 이 방식을 파이썬 인터프리터는 더 선호

In [19]:
# ???심화: x^2+y^2= Z^2인 x, y, z를 한 묶음의 리스트로 출력(중첩 제외, for문 2번만 쓰기)
a = []

for x in range(1, 30):
  for y in range(x, 30):  # x부터 29까지
    z = (x**2 + y**2)**(1/2)  # 제곱근은 **(1/2)를 하면 됨. 만약 sqrt()를 쓰려면 from math import sqrt를 해야함.
    zi = int(z)  # 위에서 z는 제곱근을 했기 때문에 실수형(float)이 되어버림. 따라서 정수 형변환 필요.
    if (z == zi and z < 30):  # z가 정수이면서 동시에 z가 30보다 작은 경우 조건문 실행.
      a.append([x,y,zi])

print(a)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 16, 20], [15, 20, 25], [20, 21, 29]]

In [20]:
# ???심화: 가장 많이 나온 숫자 출력하기
testlst = [x for x in range(20)] + [x for x in range(5)] + [x for x in range(1,20,2)]
print(testlst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
print(set(testlst))  # 집합(set)은 중복을 제거함

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [22]:
maxValue = 0  # 개수가 가장 많은 값의 value
maxCnt = 0  # 개수가 가장 많은 값의 count

for i in set(testlst):  # 집합(set)으로 형 변환하여 중복 제거
  if maxCnt <= testlst.count(i):  # 현재의 maxCnt보다 크거나 같은 개수가 나오면 해당 값으로 업데이트
    maxCnt = testlst.count(i)
    maxValue = i  # 큰 개수가 나온 값 i를 Value로 저장

print(maxValue, maxCnt)

3 3

- 이 경우 maxCnt <= testlst.count(i)이기 때문에 개수가 가장 많은 값이 중복될 경우 list의 마지막에 있는 값이 출력됨

In [23]:
maxValue = 0  # 개수가 가장 많은 값의 value
maxCnt = 0  # 개수가 가장 많은 값의 count

for i in set(testlst):  # 집합(set)으로 형 변환하여 중복 제거
  if maxCnt < testlst.count(i):  # 현재의 maxCnt보다 큰 개수가 나오면 해당 값으로 업데이트
    maxCnt = testlst.count(i)
    maxValue = i  # 새로운 값 i를 value로 저장

print(maxValue, maxCnt)

1 3

- 이 경우 maxCnt < testlst.count(i)이기 때문에 개수가 가장 많은 값이 중복될 경우 list의 첫번째에 있는 값이 출력됨

In [24]:
# 가장 많이 나온 숫자 출력하는 함수 정의하기
def find_maxValue_maxCount(lst):  # lst를 매개변수로 받는 사용자 정의 함수
  maxValue = 0
  maxCnt = 0

  for i in set(lst):  # 집합(set)으로 형 변환하여 중복 제거
    if maxCnt <= lst.count(i):
      maxCnt = lst.count(i)
      maxValue = i  # 새로운 값 i를 value로 저장
  return maxValue, maxCnt

In [25]:
x, y = find_maxValue_maxCount(testlst)
print(x, y)

3 3