<a href="https://colab.research.google.com/github/pjw1016/phython_practice/blob/main/python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<파이썬 1일차 실습 예제>**

In [ ]:
1+1

2

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
a = 100

In [ ]:
if a > 10:
  print(a)
print('done')

100
done

**반복문(for문)**

In [ ]:
for a in [1, 2, 3]:
  for b in [10, 20, 30]:
    if a != 2:
     print(b)
  print(a)
print('done')

10
20
30
1
2
10
20
30
3
done

In [ ]:
# [문제] a = 2 일때 b를 출력하지 않기
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
      if b != 20:
        print(b)
    print(a)
print('done')

10
30
1
10
30
2
10
30
3
done

내 방식

In [ ]:
# [문제] 위의 틀을 유지한 채 10, 30, 1, 10, 30, 2, 10, 30, 3 의 결과가 나올 수 있도록 구문을 수정해보기
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
      if a == 1 and b != 10:
        print(b)
      elif a == 2 and b != 20:
        print(b)
      elif a == 3 and b != 30:
        print(b)
    print(a)
print('done')

20
30
1
10
30
2
10
20
3
done

강사님 방식

In [ ]:
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
      if a*10 != b:
        print(b)
    print(a)
print('done')

20
30
1
10
30
2
10
20
3
done

크루님 방식: b를 a로 나눈 몫이 10이 아닐 때 출력

In [ ]:
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
      if b//a != 10:
        print(b)
    print(a)
print('done')

20
30
1
10
30
2
10
20
3
done

**반복문(while문)**

In [ ]:
i = 0
a = 0
while True:
  print(a)
  if i < 5:
    i += 1  # i = i + 1
  else:
    break
print('done')

0
0
0
0
0
0
done

In [ ]:
i = 0
a = 0
while i < 5:
  print(a)
  i += 1  # i = i + 1
print('done')

0
0
0
0
0
done

- 위 방식(a를 6번 출력)과 달리 이 방식은 조건을 먼저 걸고 출력('print(a)')을 했기 때문에 a가 5번 출력됨.

내 방식

In [ ]:
# [문제] 1, 2, 2, 3, 3, 3, 4, 4, 4, 4 가 찍히는 코드를 작성하시오.
i = 1
while i < 5:
  print((str(i)) * i, end='')
  i += 1

1223334444

!강사님 방식: i가 0보다 작아질 때까지 a를 출력함. 즉, a = 4면 4를 4번 출력함.

In [ ]:
for a in [1,2,3,4]:
  i = a
  while i > 0:
    print(a, end=' ')
    i -= 1

1 2 2 3 3 3 4 4 4 4

In [ ]:
# list에 있는 값을 순차적으로 출력
list1 = [1,3,4,5,6,7,4,3,5,7,7]

for i in list1:
  print(i)

1
3
4
5
6
7
4
3
5
7
7

In [ ]:
print(list1)
print(list1[-5:-1]) # -1번째 인덱스는 출력에서 제외됨(끝 제외)
print(list1[-5:])  # -1번째 인덱스도 출력하려면 끝을 비워야 함
print(list1[::2])  # 3번째 인자는 step: 몇 칸씩 뛰어쓸지. 리스트를 2칸씩 출력
print(list1[::-1])  # 리스트 거꾸로 출력
print(list1[::-2])  # 리스트 거꾸로 2칸씩 출력

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7]
[4, 3, 5, 7]
[4, 3, 5, 7, 7]
[1, 4, 6, 4, 5, 7]
[7, 7, 5, 3, 4, 7, 6, 5, 4, 3, 1]
[7, 5, 4, 6, 4, 1]

In [ ]:
list1.append([5, 6, 7])
print(list1)

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7]]

In [ ]:
list1.extend([5, 6, 7])
print(list1)

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7], 5, 6, 7]

In [ ]:
print(list1)
print(list1.count(4))
print(list1[-5:-1].count(4))
print(list.count(list1[3:8], 4))

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7], 5, 6, 7]
2
0
1

In [ ]:
print(list1)
print(list1.index(4))

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7], 5, 6, 7]
2

In [ ]:
print(list1)
print(list1.pop())

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7], 5, 6, 7]
7

In [ ]:
print(list1)

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7], 5, 6]

In [ ]:
print(list1)
list1.remove([5, 6, 7])
print(list1)

[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, [5, 6, 7], 5, 6]
[1, 3, 4, 5, 6, 7, 4, 3, 5, 7, 7, 5, 6]

In [ ]:
list2 = sorted(list1)
print(list1)
print(list2)

[1, 3, 3, 4, 4, 5, 5, 5, 6, 6, 7, 7, 7]
[1, 3, 3, 4, 4, 5, 5, 5, 6, 6, 7, 7, 7]

In [ ]:
list1.sort()
print(list1)

[1, 3, 3, 4, 4, 5, 5, 5, 6, 6, 7, 7, 7]